<?xml version="1.0" encoding="UTF-8" ?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <File name="FILE1" fileName="${basePath}/logfile1.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </File>
        <File name="FILE2" fileName="${basePath}/logfile2.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE1"/>
        </Root>
<!--        <Logger name="com.github.panarik.javaLesson.logging.Log4jExample" level="info" additivity="">-->
<!--            -->
<!--        </Logger>-->
    </Loggers>
</Configuration>